* {
    font-family: Bangers, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 0.87);
    background: #242424;
}

.header {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}
