* {
    font-family: Bangers, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
    text-decoration: none;
    letter-spacing: 0.1rem;
    /* color: #f3f3f3;
    background-color: #242424; */
}

.header {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

.LightTheme {
    background: #f3f3f3;
    color: #242424;
}

.DarkTheme {
    color: #f3f3f3;
    background-color: #242424;
}
