:root {
    font-family: Bangers, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    box-sizing: border-box;
    line-height: 1.2;
    font-weight: 500;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

body a {
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

#logo {
    font-size: 2.2rem;
    line-height: 5rem;
    padding: 0 6.25rem;
    color: var(--white);
}

ul {
    float: right;
    margin-right: 1.25rem;
}

ul li {
    display: inline-block;
    line-height: 2rem;
    margin: 0 0.31rem;
}

ul li {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.2rem;
}

ul li a {
    color: #ffffff;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
